{% block title %}It's good to be a banksta!{% endblock %}

{% extends "::base.html.twig" %}

{% block body %}

<h1>Filebanksta is an honest banksta</h1>

<h2>Render med urls</h2>

<img src="{{ filelib_url(file, "cropped") }}" />

<br />
<br />

<img src="{{ filelib_url(file, "mini") }}" />

<br />
<br />

<img src="{{ filelib_url(file, "thumb") }}" />

<br />
<br />

<img src="{{ filelib_url(file, "cinemascope") }}" />

<br />
<br />

<h2>Render med äkshuun</h2>

<img src="{{ filelib_render(file, "cropped") }}" />

<br />
<br />

<img src="{{ filelib_render(file, "mini") }}" />

<br />
<br />

<img src="{{ filelib_render(file, "thumb") }}" />

<br />
<br />

<img src="{{ filelib_render(file, "cinemascope") }}" />

<br />
<br />

<img src="{{ filelib_render(file, "puuppa") }}" />


{% endblock %}
